dreamplace/version.py
dreamplace.egg-info

*.o
*.a
*.pyc
*obj*
# *dist*
*.so
configure.*
# test.*
*.svg
# *.png

.vscode/
__pycache__/
build/
lib/
res/
log/
install/
data/
# benchmarks/
tmp/
# thirdparty/

.DS_Store

!benchmarks/simple/