bibtexparser>=1.4.0
cairocffi>=1.5.0
descartes>=1.1.0
ghapi>=1.0.3
jstyleson>=0.0.2
matplotlib>=3.7.1
networkx>=3.0
nox>=2022.11.21
numpy>=1.23.5
pytest>=7.2.2
pyunpack>=0.3
rich>=13.3.3
setuptools>=67.6.0
shapely>=2.0.1
torch>=2.0.0
